[Desktop Entry]
Name=sflphone
Name[bs]=sfltelefon
Name[ca]=sflphone
Name[cs]=sflphone
Name[da]=sflphone
Name[de]=sflphone
Name[es]=sflphone
Name[et]=sflphone
Name[fr]=sflphone
Name[ga]=sflphone
Name[hu]=sflphone
Name[it]=sflphone
Name[nl]=sflphone
Name[pl]=sflphone
Name[pt]=sflphone
Name[pt_BR]=sflphone
Name[ru]=sflphone
Name[sk]=sflphone
Name[sv]=SFL-telefon
Name[tr]=sflphone
Name[uk]=sflphone
Name[x-test]=xxsflphonexx
Comment=An SFLPhone IP soft-phone frontend
Comment[bs]=An SFL Telefon IP  soft-phone korisnički program
Comment[ca]=Un frontal pel telèfon per programari SFLPhone
Comment[da]=En brugerflade til SFLphone IP-softwaretelefon
Comment[de]=Eine Benutzeroberfläche das SFLPhone-IP-Softwaretelefon
Comment[es]=Una interfaz para teléfono virtual SFLPhone
Comment[et]=SFLphone IP-telefoni kasutajaliides
Comment[fr]=Une interface de téléphonie IP pour SflPhone
Comment[hu]=Egy SFLPhone IP telefon előtétprogram
Comment[it]=Un'interfaccia al telefono IP SFLphone
Comment[nl]=Een SFLPhone IP soft-phone frontend
Comment[pl]=Nakładka telefonu programowego An SFLPhone IP
Comment[pt]=Uma interface para o telefone IP por 'software' SFLPhone
Comment[pt_BR]=Uma interface para o telefone por software do SFLPhone IP
Comment[ru]=Интерфейс к софтфону SFLPhone
Comment[sk]=Frontend pre SFLPhone IP soft-phone
Comment[sv]=Ett SFL-telefongränssnitt för IP-programvarutelefon 
Comment[tr]=Bir SFLPhone IP soft-phone ön ucu
Comment[uk]=Графічна оболонка до програмного інтернет-телефону SFLPhone
Comment[x-test]=xxAn SFLPhone IP soft-phone frontendxx
Type=Service

X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_sflphone
X-Plasma-EngineName=sflphone
X-KDE-PluginInfo-Author=Emmanuel Lepage Vallee
X-KDE-PluginInfo-Email=emmanuel.lepage@savoirfairelinux.com
X-KDE-PluginInfo-Name=sflphone
X-KDE-PluginInfo-Version=0.9.8
X-KDE-PluginInfo-Website=http://www.sflphone.org/
X-KDE-PluginInfo-Category=SIP
#X-KDE-PluginInfo-Depends=sflphone-common
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
