[Desktop Entry]
Name=SFLPhone plasmoid
Name[bs]=SFLtelefon plasmoid
Name[ca]=Plasmoide de SFLphone
Name[cs]=Plasmoid SFLPhone
Name[da]=SFLphone-plasmoid
Name[de]=SFLPhone-Plasmoid
Name[es]=Plasmoide SFLPhone
Name[et]=SFLPhone plasmoid
Name[fr]=Composant graphique SflPhone
Name[hu]=SFLPhone plasmoid
Name[it]=Plasmoide SFLphone
Name[nl]=SFLPhone plasmoid
Name[pl]=Plazmoid SFLPhone
Name[pt]=Plasmóide do SFLPhone
Name[pt_BR]=Plasmóide do SFLPhone
Name[ru]=Виджет SFLPhone
Name[sk]=Plazmoid SFLPhone
Name[sv]=SFL-telefonplasmoid
Name[tr]=SFLPhone plasmoid
Name[uk]=Плазмоїд SFLPhone
Name[x-test]=xxSFLPhone plasmoidxx
Comment=Plasma client for SFLPhone daemon
Comment[bs]=Plasma klijent za SFLPtelefon demon
Comment[ca]=Client del Plasma pel dimoni de SFLPhone
Comment[cs]=Klient plasma pro démona SFLPhone
Comment[da]=Plasma-klient til SFLPhone-dæmonen
Comment[de]=Plasma-Programm für den SFLPhone-Dienst
Comment[es]=Cliente Plasma para el demonio de SFLPhone
Comment[et]=SFLphone deemoni Plasma klient
Comment[fr]=Client Plasma pour le démon « SflPhone »
Comment[hu]=Plasma kliens az SFLPhone démonhoz
Comment[it]=Client Plasma per il demone SFLphone
Comment[nl]=Plasma-client voor SFLPhone-daemon
Comment[pl]=Klient plazmy dla demona SFLPhone
Comment[pt]=Cliente do Plasma para o serviço SFLPhone
Comment[pt_BR]=Cliente do plasma para o serviço do SFLPhone
Comment[ru]=Виджет службы SFLPhone
Comment[sk]=Plasma klient pre SFLPhone démon
Comment[sv]=Plasma-klient för SFL-telefondemon
Comment[tr]=SFLPhone uygulaması için Plasma istemcisi
Comment[uk]=Клієнт Плазми до фонової служби SFLPhone
Comment[x-test]=xxPlasma client for SFLPhone daemonxx
Icon=chronometer

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-DefaultSize=350,650

X-KDE-PluginInfo-Author=Emmanuel Lepage Vallee
X-KDE-PluginInfo-Email=emmanuel.lepage@savoirfairelinux.com
X-KDE-PluginInfo-Website=http://sflphone.org/
X-KDE-PluginInfo-Category=Phone
X-KDE-PluginInfo-Name=org.kde.plasma.applet.sflphone
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-ServiceTypes=Plasma/Applet
Type=Service
