QTabBar::tab {
    font: 0.1px;
    color: transparent;
    height: 74px;
    max-height: 76px;
    padding-bottom:8px;
    background-color: transparent;
}

QTabBar::tab:selected {
    background-color: #111111;
    /*background-color: green;*/
}

QTabBar {
    background-color: transparent;
    background-image: url(':/gui/icons/assets/toolbar_bg.png') repeat repeat;
}
