#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
PKD  = $(abspath $(dir $(MAKEFILE_LIST)))
PKG  = $(shell dpkg-parsechangelog -l$(PKD)/changelog --show-field=Source)
VER ?= $(shell dpkg-parsechangelog -l$(PKD)/changelog | perl -ne 'print $$1 if m{^Version:\s+(?:\d+:)?(\d.*)(?:\-\d+.*)};')

DAEMON_TAG = 2.1.0
LRC_TAG = 0.2.1
KDE_TAG = $(VER)

.PHONY: get-orig-source

%:
	dh $@ 

override_dh_auto_clean:
	# [ -d daemon/contrib/native ] && cd daemon/contrib/native && $(MAKE) distclean
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_auto_clean

override_dh_auto_configure:
	# force disable codecs (most of them are dependencies of libav) and pulseaudio dependencies
	#mkdir -p daemon/contrib/native && cd daemon/contrib/native && ../bootstrap --disable-gsm --disable-vorbis --disable-vorbisenc --disable-speex --disable-opus --disable-ogg --disable-flac --disable-sndfile --disable-speexdsp && make -j
	cd libringclient && mkdir -p build && mkdir -p install && cd build && cmake -DRING_BUILD_DIR=$(PWD)/daemon/src -DCMAKE_INSTALL_PREFIX=$(PWD)/libringclient/install -DENABLE_VIDEO=true -DENABLE_STATIC=true .. && make -j 2 && make install
	mkdir -p build && mkdir -p install && cd build && cmake -DCMAKE_INSTALL_PREFIX=$(PWD)/libringclient/install -DLIB_RING_CLIENT_LIBRARY=$(PWD)/libringclient/install/lib/libringclient_static.a -DENABLE_STATIC=true ..
#	cd ring-client-gnome && ./config.sh --prefix=/usr CFLAGS="$(CFLAGS) -fPIC" LDFLAGS="-Wl,-z,defs" 
#	cd ring-client-gnome && ./config.sh --prefix=/usr CFLAGS="$(CFLAGS) -fPIC" LDFLAGS="-Wl,-z,defs" 
#	cd ring-client-kde && ./autogen.sh && ./configure --prefix=/usr CFLAGS="$(CFLAGS) -fPIC" LDFLAGS="-Wl,-z,defs" 

override_dh_auto_build:
	cd build && LDFLAGS="-lpthread" make -j 2

override_dh_auto_install:
	# RING kde
	cd build && make DESTDIR=$(CURDIR)/debian/ring-kde install
	mkdir -p $(CURDIR)/debian/ring-kde/usr/bin
	## FIXME: bad install path from make ...
	mv $(CURDIR)/debian/ring-kde/sources/ring-kde/libringclient/install/bin/* $(CURDIR)/debian/ring-kde/usr/bin
	rm -rf  $(CURDIR)/debian/ring-kde/sources
	dh_auto_install

get-orig-source:
	# Gnome
	git init
	git remote add git://anongit.kde.org/ring-kde.git
	git fetch --all
	git checkout packaging -f
	git config user.name "joulupukki"
	git config user.email "joulupukki@localhost"
	git merge $(KDE_TAG) --no-edit
	rm -rf .git
	# Daemon
	@echo "# Downloading Ring Daemon ..."
	rm -rf ring
	mkdir -p ring
	git clone https://gerrit-sflphone.savoirfairelinux.com/ring-daemon daemon
	cd daemon && git checkout $(DAEMON_TAG)
	cd daemon && $(RM) -rf .git
	# LibRingClient
	@echo "# Downloading Lib Ring Client ..."
	rm -rf libringclient
	mkdir -p libringclient
	git clone git://anongit.kde.org/libringclient.git libringclient
	cd libringclient && git checkout $(LRC_TAG)
	cd libringclient && $(RM) -rf .git
	# Packing
	@echo "# Packing ... "
	find  . | sort \
	| XZ_OPT="-6v" tar -caf "../$(PKG)_$(VER)$(DTYPE).orig.tar.xz" -T- --owner=root --group=root --mode=a+rX
	#&& $(RM) -rf ring libringclient
