[Desktop Entry]
Type=Application
X-DocPath=ring-kde/index.html
Terminal=false

Name=Ring VoIP KDE client
GenericName=Ring
Comment=Call and receive calls with SIP or RING protocols
Exec=ring-kde
Icon=ring-kde
StartupNotify=true
Categories=Network;Telephony;
DBusActivatable=true

[X-Protocol]
exec=ring-kde --place-call "%u"
X-protocol=sip
input=none
output=none
helper=true
listing=
reading=false
writing=false
makedir=false
deleting=false
