[Desktop Entry]
Type=Application
X-DocPath=ring-kde/index.html
Terminal=false

GenericName=VoIP app
GenericName[ca]=Aplicació de VoIP
GenericName[ca@valencia]=Aplicació de VoIP
GenericName[de]=VoIP-Programm
GenericName[en_GB]=VoIP app
GenericName[es]=Aplicación VoIP
GenericName[et]=VoIP rakendus
GenericName[fi]=VoIP-sovellus
GenericName[fr]=Appli de VoIP
GenericName[gl]=Aplicativo de voz por IP
GenericName[it]=Applicazione VoIP
GenericName[ko]=VoIP 앱
GenericName[nl]=VoIP-toepassing
GenericName[pl]=Aplikacja VoIP
GenericName[pt]=Aplicação de VoIP
GenericName[pt_BR]=Aplicativo VoIP
GenericName[sl]=VoIP app
GenericName[sv]=IP-telefoniprogram
GenericName[uk]=Програма для VoIP
GenericName[x-test]=xxVoIP appxx
GenericName[zh_TW]=VoIP 應用程式
Name=Banji
Name[ca]=Banji
Name[ca@valencia]=Banji
Name[cs]=Banji
Name[de]=Banji
Name[en_GB]=Banji
Name[es]=Banji
Name[et]=Banji
Name[fi]=Banji
Name[fr]=Banji
Name[gl]=Banji
Name[it]=Banji
Name[ko]=반지
Name[nl]=Banji
Name[pl]=Banji
Name[pt]=Banji
Name[pt_BR]=Banji
Name[sl]=Banji
Name[sv]=Banji
Name[uk]=Banji
Name[x-test]=xxBanjixx
Name[zh_TW]=Banji
Comment=Call and receive calls with SIP or RING protocols
Comment[ca]=Truca i rep trucades amb els protocols SIP o RING
Comment[ca@valencia]=Truca i rep trucades amb els protocols SIP o RING
Comment[cs]=Volejte a přijímejte hovory s protokoly SIP nebo RING
Comment[da]=Foretag og modtag opkald med protokollerne SIP eller RING
Comment[de]=Anrufen und Anrufe annehmen mit SIP- oder RING-Protokollen
Comment[en_GB]=Call and receive calls with SIP or RING protocols
Comment[es]=Llamar y recibir llamadas con los protocolos SIP o RING
Comment[et]=Helistamine ja kõnede vastuvõtmine SIP- või RING-protokolli vahendusel
Comment[fi]=Soita ja vastaanota puheluja SIP- tai RING-yhteyskäytännöin
Comment[fr]=Appeler et recevoir des appels avec les protocoles « SIP » ou « RING »
Comment[gl]=Chamar e recibir chamadas mediante os protocolos SIP e RING.
Comment[it]=Chiama e ricevi telefonate con i protocolli SIP o RING
Comment[ko]=SIP나 RING 프로토콜로 전화 걸고 받기
Comment[nl]=Maak of ontvang oproepen met SIP- of RING-protocollen
Comment[pl]=Dzwoń i odbieraj rozmowy przy użyciu protokołów SIP lub RING
Comment[pt]=Fazer e receber chamadas com os protocolos SIP ou RING
Comment[pt_BR]=Faz e recebe chamadas com os protocolos SIP ou RING
Comment[sl]=Klici in prejemi klicev s protokoloma SIP ali RING
Comment[sv]=Ring och ta emot samtal med SIP- eller RING-protokoll
Comment[tr]=SIP veya RING protokolleri ile arama yapın veya aranın
Comment[uk]=Дзвоніть і отримуйте дзвінки за допомогою протоколів SIP і RING
Comment[x-test]=xxCall and receive calls with SIP or RING protocolsxx
Comment[zh_CN]=使用 SIP 或 RING 协议拨出或接受呼叫
Comment[zh_TW]=使用 SIP 或是 RING 協定打電話或是接電話
Exec=ring-kde
Icon=ring-kde
StartupNotify=true
Categories=Qt;KDE;Network;Telephony;
DBusActivatable=true

[X-Protocol]
exec=ring-kde --place-call "%u"
X-protocol=sip
input=none
output=none
helper=true
listing=
reading=false
writing=false
makedir=false
deleting=false
