[Desktop Entry]
Type=Application
X-DocPath=ring-kde/index.html
Terminal=false

Name=Banji VoIP KDE client
Name[ca]=Banji client de VoIP del KDE
Name[ca@valencia]=Banji client de VoIP del KDE
Name[en_GB]=Banji VoIP KDE client
Name[es]=Cliente VoIP Banji para KDE
Name[fr]=Client VoIP « Banji » pour KDE
Name[gl]=Cliente de KDE para VoIP mediante Banji
Name[it]=Client VoIP Banji per KDE
Name[nl]=Banji VoIP KDE-client
Name[pt]=Cliente de VoIP Banji para o KDE
Name[pt_BR]=Banji - Cliente VoIP do KDE
Name[sv]=Banji KDE-klient för IP-telefoni
Name[uk]=Клієнт інтернет-телефонії Banji для KDE
Name[x-test]=xxBanji VoIP KDE clientxx
GenericName=Banji
GenericName[ca]=Banji
GenericName[ca@valencia]=Banji
GenericName[en_GB]=Banji
GenericName[es]=Banji
GenericName[fr]=Banji
GenericName[gl]=Banji
GenericName[it]=Banji
GenericName[nl]=Banji
GenericName[pt]=Banji
GenericName[pt_BR]=Banji
GenericName[sv]=Banji
GenericName[uk]=Banji
GenericName[x-test]=xxBanjixx
Comment=Call and receive calls with SIP or RING protocols
Comment[ca]=Truca i rep trucades amb els protocols SIP o RING
Comment[ca@valencia]=Truca i rep trucades amb els protocols SIP o RING
Comment[cs]=Volejte a přijímejte hovory s protokoly SIP nebo RING
Comment[da]=Foretag og modtag opkald med protokollerne SIP eller RING
Comment[de]=Anrufen und Anrufe annehmen mit SIP- oder RING-Protokollen
Comment[en_GB]=Call and receive calls with SIP or RING protocols
Comment[es]=Llamar y recibir llamadas con los protocolos SIP o RING
Comment[fi]=Soita ja vastaanota puheluja SIP- tai RING-yhteyskäytännöin
Comment[fr]=Appeler et recevoir des appels avec les protocoles « SIP » ou « RING »
Comment[gl]=Chamar e recibir chamadas mediante os protocolos SIP e RING.
Comment[it]=Chiama e ricevi telefonate con i protocolli SIP o RING
Comment[nl]=Maak of ontvang oproepen met SIP- of RING-protocollen
Comment[pl]=Dzwoń i odbieraj rozmowy przy użyciu protokołów SIP lub RING
Comment[pt]=Fazer e receber chamadas com os protocolos SIP ou RING
Comment[pt_BR]=Faz e recebe chamadas com os protocolos SIP ou RING
Comment[sv]=Ring och ta emot samtal med SIP- eller RING-protokoll
Comment[tr]=SIP veya RING protokolleri ile arama yapın veya aranın
Comment[uk]=Дзвоніть і отримуйте дзвінки за допомогою протоколів SIP і RING
Comment[x-test]=xxCall and receive calls with SIP or RING protocolsxx
Comment[zh_CN]=使用 SIP 或 RING 协议拨出或接受呼叫
Comment[zh_TW]=使用 SIP 或是 RING 協定打電話或是接電話
Exec=ring-kde
Icon=ring-kde
StartupNotify=true
Categories=Qt;KDE;Network;Telephony;
DBusActivatable=true

[X-Protocol]
exec=ring-kde --place-call "%u"
X-protocol=sip
input=none
output=none
helper=true
listing=
reading=false
writing=false
makedir=false
deleting=false
