[Desktop Entry]
Type=Application
X-DocPath=ring-kde/index.html
Terminal=false

Name=Ring VoIP KDE client
Name[ca]=Ring client de VoIP pel KDE
Name[de]=Ring-VoIP-Programm für KDE
Name[gl]=Cliente de KDE para VoIP mediante Ring
Name[nl]=Ring VoIP KDE-client
Name[pl]=Klient VoIP Ring dla KDE
Name[pt]=Cliente de VoIP Ring para o KDE
Name[pt_BR]=Cliente do Ring VoIP para o KDE
Name[sv]=Ring KDE-klient för IP-telefoni
Name[uk]=Клієнт інтернет-телефонії Ring для KDE
Name[x-test]=xxRing VoIP KDE clientxx
GenericName=Ring
GenericName[ca]=Ring
GenericName[de]=Ring
GenericName[gl]=Ring
GenericName[nl]=Ring
GenericName[pl]=Ring
GenericName[pt]=Ring
GenericName[pt_BR]=Ring
GenericName[sv]=Ring
GenericName[uk]=Ring
GenericName[x-test]=xxRingxx
Comment=Call and receive calls with SIP or IAX protocols
Comment[bs]=Pozivajte i primajte pozive s protokolom SIP ili IAX
Comment[ca]=Truca i rep trucades amb els protocols SIP o IAX
Comment[cs]=Volejte a přijímejte hovory s protokoly SIP a IAX
Comment[da]=Foretag og modtag opkald med protokollerne SIP eller IAX
Comment[de]=Anrufen und Anrufe annehmen mit SIP- oder IAX-Protokollen
Comment[es]=Llamar y recibir llamadas de protocolos IAX y SIP
Comment[et]=Kõnede tegemine ja vastuvõtmine SIP või IAX protokolli vahendusel
Comment[fr]=Appeler et recevoir des appels avec les protocoles « SIP » ou « IAX »
Comment[gl]=Chamar e recibir chamadas mediante os protocolos SIP e IAX.
Comment[hu]=Hívások kezdeményezése és fogadása SIP vagy IAX protokollokkal
Comment[it]=Chiama e ricevi telefonate con i protocolli SIP o IAX
Comment[nl]=Maak of opvang oproepen met SIP of IAX-protocollen
Comment[pl]=Dzwoń i odbieraj przy użyciu protokołów SIP lub IAX
Comment[pt]=Fazer e receber chamadas com os protocolos SIP ou IAX
Comment[pt_BR]=Faz e recebe chamadas com os protocolos SIP ou IAX
Comment[ru]=Вызовы по протоколу SIP и IAX
Comment[sk]=Volanie a prijímanie hovorov cez protokoly SIP alebo IAX
Comment[sv]=Ring och ta emot samtal med SIP- eller IAX-protokoll
Comment[tr]=SIP veya IAX protokolleri ile arama yapın veya aranın
Comment[ug]=SIP ياكى IAX كېلىشىمى ئارقىلىق تېلېفون قىلىش ۋە تېلېفون قوبۇل قىلىش
Comment[uk]=Дзвоніть і отримуйте дзвінки за допомогою протоколів SIP і IAX
Comment[x-test]=xxCall and receive calls with SIP or IAX protocolsxx
Comment[zh_CN]=通过 SIP 和 IAX 协议呼叫和接收呼叫
Exec=ring-kde
Icon=ring-kde
StartupNotify=true
Categories=Network;Telephony;

[Protocol]
exec=ring-kde --place-call "%u"
X-protocol=sip
input=none
output=none
helper=true
listing=
reading=false
writing=false
makedir=false
deleting=false
