[Desktop Entry]
Type=Application
X-DocPath=ring-kde/index.html
Terminal=false

Name=Ring VoIP KDE client
Name[ca]=Ring client de VoIP pel KDE
Name[ca@valencia]=Ring client de VoIP pel KDE
Name[cs]=Ring - VoIP klient pro KDE
Name[da]=Ring VoIP-klient til KDE
Name[de]=Ring-VoIP-Programm für KDE
Name[en_GB]=Ring VoIP KDE client
Name[es]=Cliente VoIP de Ring para KDE
Name[gl]=Cliente de KDE para VoIP mediante Ring
Name[hu]=Ring VoIP KDE kliens
Name[it]=Client VoIP per KDE Ring
Name[nl]=Ring VoIP KDE-client
Name[pl]=Klient VoIP Ring dla KDE
Name[pt]=Cliente de VoIP Ring para o KDE
Name[pt_BR]=Cliente do Ring VoIP para o KDE
Name[sk]=Ring VoIP KDE klient
Name[sv]=Ring KDE-klient för IP-telefoni
Name[tr]=Ring VoIP KDE istemcisi
Name[uk]=Клієнт інтернет-телефонії Ring для KDE
Name[x-test]=xxRing VoIP KDE clientxx
GenericName=Ring
GenericName[ca]=Ring
GenericName[ca@valencia]=Ring
GenericName[cs]=Ring
GenericName[da]=Ring
GenericName[de]=Ring
GenericName[en_GB]=Ring
GenericName[es]=Ring
GenericName[gl]=Ring
GenericName[hu]=Ring
GenericName[it]=Ring
GenericName[nl]=Ring
GenericName[pl]=Ring
GenericName[pt]=Ring
GenericName[pt_BR]=Ring
GenericName[sk]=Prstenec
GenericName[sv]=Ring
GenericName[tr]=Ring
GenericName[uk]=Ring
GenericName[x-test]=xxRingxx
Comment=Call and receive calls with SIP or RING protocols
Comment[ca]=Truca i rep trucades amb els protocols SIP o RING
Comment[ca@valencia]=Truca i rep trucades amb els protocols SIP o RING
Comment[cs]=Volejte a přijímejte hovory s protokoly SIP nebo RING
Comment[da]=Foretag og modtag opkald med protokollerne SIP eller RING
Comment[de]=Anrufen und Anrufe annehmen mit SIP- oder RING-Protokollen
Comment[en_GB]=Call and receive calls with SIP or RING protocols
Comment[es]=Llamar y recibir llamadas con los protocolos SIP o RING
Comment[gl]=Chamar e recibir chamadas mediante os protocolos SIP e RING.
Comment[it]=Chiama e ricevi telefonate con i protocolli SIP o RING
Comment[nl]=Maak of ontvang oproepen met SIP- of RING-protocollen
Comment[pl]=Dzwoń i odbieraj rozmowy przy użyciu protokołów SIP lub RING
Comment[pt]=Fazer e receber chamadas com os protocolos SIP ou RING
Comment[sv]=Ring och ta emot samtal med SIP- eller RING-protokoll
Comment[uk]=Дзвоніть і отримуйте дзвінки за допомогою протоколів SIP і RING
Comment[x-test]=xxCall and receive calls with SIP or RING protocolsxx
Exec=ring-kde
Icon=ring-kde
StartupNotify=true
Categories=Network;Telephony;
DBusActivatable=true

[Protocol]
exec=ring-kde --place-call "%u"
X-protocol=sip
input=none
output=none
helper=true
listing=
reading=false
writing=false
makedir=false
deleting=false
