[Desktop Entry]
Type=Application
X-DocPath=ring-kde/index.html
Terminal=false

Name=Ring VoIP KDE client
Name[ast]=Veceru VoIP Ring de KDE
Name[ca]=Ring client de VoIP pel KDE
Name[ca@valencia]=Ring client de VoIP pel KDE
Name[cs]=Ring - VoIP klient pro KDE
Name[da]=Ring VoIP-klient til KDE
Name[de]=Ring-VoIP-Programm für KDE
Name[es]=Cliente VoIP de Ring para KDE
Name[gl]=Cliente de KDE para VoIP mediante Ring
Name[hu]=Ring VoIP KDE kliens
Name[it]=Client VoIP per KDE Ring
Name[nl]=Ring VoIP KDE-client
Name[pl]=Klient VoIP Ring dla KDE
Name[pt]=Cliente de VoIP Ring para o KDE
Name[pt_BR]=Cliente do Ring VoIP para o KDE
Name[sk]=Ring VoIP KDE klient
Name[sv]=Ring KDE-klient för IP-telefoni
Name[tr]=Ring VoIP KDE istemcisi
Name[uk]=Клієнт інтернет-телефонії Ring для KDE
Name[x-test]=xxRing VoIP KDE clientxx
GenericName=Ring
GenericName[ast]=Ring
GenericName[ca]=Ring
GenericName[ca@valencia]=Ring
GenericName[cs]=Ring
GenericName[da]=Ring
GenericName[de]=Ring
GenericName[es]=Ring
GenericName[gl]=Ring
GenericName[hu]=Ring
GenericName[it]=Ring
GenericName[nl]=Ring
GenericName[pl]=Ring
GenericName[pt]=Ring
GenericName[pt_BR]=Ring
GenericName[sk]=Prstenec
GenericName[sv]=Ring
GenericName[tr]=Ring
GenericName[uk]=Ring
GenericName[x-test]=xxRingxx
Comment=Call and receive calls with SIP or RING protocols
Exec=ring-kde
Icon=ring-kde
StartupNotify=true
Categories=Network;Telephony;
DBusActivatable=true

[Protocol]
exec=ring-kde --place-call "%u"
X-protocol=sip
input=none
output=none
helper=true
listing=
reading=false
writing=false
makedir=false
deleting=false
