[Desktop Entry]
Type=Application
X-DocPath=sflphone-client-kde/index.html
Terminal=false

Name=SFLphone VoIP KDE4 client
Name[nl]=SFLphone VoIP KDE4 client
Name[pt]=Cliente de VoIP SFLphone para o KDE4
Name[pt_BR]=Cliente do KDE4 para o SFLphone VoIP
Name[sv]=SFL-telefon KDE4-klient för IP-telefoni
Name[x-test]=xxSFLphone VoIP KDE4 clientxx
GenericName=Telephone
GenericName[nl]=Telefoon
GenericName[pt]=Telefone
GenericName[pt_BR]=Telefone
GenericName[sv]=Telefon
GenericName[x-test]=xxTelephonexx
Comment=Call and receive calls with SIP or IAX protocols
Comment[nl]=Maak of opvang oproepen met SIP of IAX-protocollen
Comment[pt]=Fazer e receber chamadas com os protocolos SIP ou IAX
Comment[pt_BR]=Faz e recebe chamadas com os protocolos SIP ou IAX
Comment[sv]=Ring och ta emot samtal med SIP- eller IAX-protokoll
Comment[x-test]=xxCall and receive calls with SIP or IAX protocolsxx
Exec=sflphone-client-kde
Icon=sflphone
StartupNotify=true
Categories=Network;Telephony;
