[Desktop Entry]
Type=Application
X-DocPath=sflphone-client-kde/index.html
Terminal=false

Name=SFLphone VoIP KDE4 client
Name[bs]=SFLtelefonVoIPKDE4 klijent
Name[ca]=SFLphone client de VoIP pel KDE4
Name[cs]=SFLphone VoIP klient pro KDE4
Name[da]=SFLphone VoIP-klient til KDE4
Name[de]=SFLphone-VoIP-Programm für KDE
Name[es]=Cliente SFLphone VoIP de KDE4
Name[et]=KDE4 SFLphone VoIP klient
Name[fr]=Client VoIP « SflPhone » pour KDE 4
Name[hu]=SFLphone VoIP KDE4 kliens
Name[it]=Client VoIP KDE4 SFLphone
Name[nl]=SFLphone VoIP KDE4 client
Name[pl]=Klient VoIP SFLphone dla KDE4
Name[pt]=Cliente de VoIP SFLphone para o KDE4
Name[pt_BR]=Cliente do KDE4 para o SFLphone VoIP
Name[ru]=Клиент VoIP SFLphone для KDE4
Name[sk]=KDE 4 klient pre SFLphone VoIP
Name[sv]=SFL-telefon KDE4-klient för IP-telefoni
Name[tr]=SFLphone VoIP KDE4 istemcisi
Name[uk]=Клієнт інтернет-телефонії SFLphone для KDE4
Name[x-test]=xxSFLphone VoIP KDE4 clientxx
GenericName=Telephone
GenericName[bs]=Telefon
GenericName[ca]=Telèfon
GenericName[cs]=Telefon
GenericName[da]=Telefon
GenericName[de]=Telefon
GenericName[es]=Teléfono
GenericName[et]=Telefon
GenericName[fr]=Téléphone
GenericName[ga]=Teileafón
GenericName[gl]=Teléfono
GenericName[hu]=Telefon
GenericName[it]=Telefono
GenericName[mr]=टेलिफोन
GenericName[nl]=Telefoon
GenericName[pl]=Telefon
GenericName[pt]=Telefone
GenericName[pt_BR]=Telefone
GenericName[ru]=Софтфон
GenericName[sk]=Telefón
GenericName[sv]=Telefon
GenericName[tr]=Telefon
GenericName[ug]=تېلېفون
GenericName[uk]=Телефон
GenericName[x-test]=xxTelephonexx
Comment=Call and receive calls with SIP or IAX protocols
Comment[bs]=Pozivajte i primajte pozive s protokolom SIP ili IAX
Comment[ca]=Truca i rep trucades amb els protocols SIP o IAX
Comment[cs]=Volejte a přijímejte hovory s protokoly SIP a IAX
Comment[da]=Foretag og modtag opkald med protokollerne SIP eller IAX
Comment[de]=Anrufen und Anrufe annehmen mit SIP- oder IAX-Protokollen
Comment[es]=Llamar y recibir llamadas de protocolos IAX y SIP
Comment[et]=Kõnede tegemine ja vastuvõtmine SIP või IAX protokolli vahendusel
Comment[fr]=Appeler et recevoir des appels avec les protocoles « SIP » ou « IAX »
Comment[hu]=Hívások kezdeményezése és fogadása SIP vagy IAX protokollokkal
Comment[it]=Chiama e ricevi telefonate con i protocolli SIP o IAX
Comment[nl]=Maak of opvang oproepen met SIP of IAX-protocollen
Comment[pl]=Dzwoń i odbieraj przy użyciu protokołów SIP lub IAX
Comment[pt]=Fazer e receber chamadas com os protocolos SIP ou IAX
Comment[pt_BR]=Faz e recebe chamadas com os protocolos SIP ou IAX
Comment[ru]=Вызовы по протоколу SIP и IAX
Comment[sk]=Volanie a prijímanie hovorov cez protokoly SIP alebo IAX
Comment[sv]=Ring och ta emot samtal med SIP- eller IAX-protokoll
Comment[tr]=SIP veya IAX protokolleri ile arama yapın veya aranın
Comment[ug]=SIP ياكى IAX كېلىشىمى ئارقىلىق تېلېفون قىلىش ۋە تېلېفون قوبۇل قىلىش
Comment[uk]=Дзвоніть і отримуйте дзвінки за допомогою протоколів SIP і IAX
Comment[x-test]=xxCall and receive calls with SIP or IAX protocolsxx
Exec=sflphone-client-kde
Icon=sflphone-client-kde
StartupNotify=true
Categories=Network;Telephony;

[Protocol]
exec=sflphone-client-kde --place-call "%u"
X-protocol=sip
input=none
output=none
helper=true
listing=
reading=false
writing=false
makedir=false
deleting=false
